

.highlighted {
    background-color: yellow;
    border-radius: 3px;
}

.start-marker::before {
    content: "◀";
    margin-right: 2px;
    color: red;
}

.end-marker::after {
    content: "▶";
    margin-left: 2px;
    color: red;
}

#toolbar {
    position: absolute;
    display: none;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px;
    z-index: 999;
}

.color-swatch {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
    border: 1px solid #aaa;
}

.toolbar-icon {
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
}

#text-layout, #text-layout .word {
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

