.content {
    width: 65%;
    margin-left: 25%;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}
h1{
    position: absolute;
    margin-left: 50%;
    margin-top: 10px;
}

.books-container {
    
    gap: 2%;
     /* wrap onto multiple lines if needed */
    margin: 2%;
    padding: 2%;
    width: 400px;
}

.book-item {
    border: 1px solid black;
    padding: 2%;
    margin: 0;
    flex: 1 1 500px; /* grow/shrink, minimum width 300px */
    max-width: 500px; /* optional: limit max width */
    min-height: 250px; /* set a fixed height if needed */
    box-sizing: border-box;
}