.content {
    width: 65%;
    margin-left: 25%;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.books-container {
    width: 100%;
}

h1 {
    position: absolute;
    margin-left: 50%;
    margin-top: 10px;
}