{% extends 'dashbase.html' %}
{% load static %}
{% block extra_head_dash %}
<link rel="stylesheet" href="{% static '/dashboard/css/annotations.css' %}">
<script src="{% static 'dashboard/js/updateBookStatus.js' %}" defer></script>
<script src="{% static  'dashboard/js/annotations.js' %}" defer></script>

{% endblock %}

{% block content %}
{% csrf_token %}

{{ content|json_script:"content-data" }}
{{ book|json_script:"book-data"  }}
<!-- Add annotations logic here -->
<h1>Annotations for: {{ book.name }}</h1>
<div style="display: block; margin-left: 5%; padding-right: 5%;" id="main-container">
    <div id="spinner-overlay" class="overlay">
        <div id="spinner-container" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-light sticky-top shadow-sm rounded mb-4">
        <div class="container-fluid">
            <a class="navbar-brand">Annotation Tools</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topMenu"
                aria-controls="topMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topMenu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <button class="btn btn-outline-primary me-2" onclick="highlightWords()">Highlight</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-secondary me-2" onclick="clearHighlights()">Clear</button>
                    </li> -->
                    <li>
                        <label for="all-instances">All Instances</label>
                        <input type="checkbox" id="all-instances">
                    </li>
                    <!-- Add more controls as needed -->

                    <input type="text" id="target-word">
                    <select name="" id="word-label">
                        <option value="O">O</option>
                        <option value="B-art">B-art</option>
                        <option value="I-art">I-art</option>
                        <option value="B-eve">B-eve</option>
                        <option value="I-eve">I-eve</option>
                        <option value="B-geo">B-geo</option>
                        <option value="I-geo">I-geo</option>
                        <option value="B-gpe">B-gpe</option>
                        <option value="I-gpe">I-gpe</option>
                        <option value="B-nat">B-nat</option>
                        <option value="I-nat">I-nat</option>
                        <option value="B-org">B-org</option>
                        <option value="I-org">I-org</option>
                        <option value="B-per">B-per</option>
                        <option value="I-per">I-per</option>
                        <option value="B-tim">B-tim</option>
                        <option value="I-tim">I-tim</option>
                    </select>


                    <li>
                        <label for="word-count">Word Count</label>
                        <p id="word-count"></p>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-success me-2" id="add-btn">Add</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-success me-2" id="save-btn">Save</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <p><strong>Date:</strong> {{ book.date }}</p>
    <p><strong>Religion:</strong> {{ book.religion }}</p>
    <div id="annotations-container">

    </div>
    <script>
        const content = JSON.parse(document.getElementById("content-data").textContent);
        const book = JSON.parse(document.getElementById("book-data").textContent);

    </script>
</div>
{% endblock %}