{% extends 'dashbase.html' %}
{% load static %}

{% block extra_head_dash %}
<link rel="stylesheet" href="{% static '/dashboard/css/books.css' %}">
<script src="{% static 'dashboard/js/updateBookStatus.js' %}" defer></script>

{% endblock %}

{% block content %}
{% csrf_token %}
<h1>Books</h1>

<div class="content">
    <div id="spinner-overlay" class="overlay">
        <div id="spinner-container" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    {% for book in books %}

    <div class="books-container border rounded">
        <div class="list-group list-group-flush">
            <div class="list-group-item py-2 px-3 border-bottom">
                <div class="d-flex justify-content-between align-items-center">
                    <strong class="small">{{ book.name }}</strong>

                    <div class="form-check form-switch mb-0">
                        <input class="form-check-input" type="checkbox" id="publish-{{ book.id }}"
                            onchange="updatePublishStatus('{{ book.id }}')" {% if book.is_published %}checked{% endif %}>
                        <label class="form-check-label small" for="publish-{{ book.id }}">Publish</label>
                    </div>

                </div>
                <div class="text-muted small mt-1">
                    <div><strong>Date:</strong> {{ book.date }}</div>
                    <div><strong>Religion:</strong> {{ book.religion }}</div>
                </div>
                <div>
                    <button class="btn btn-sm btn-outline-primary" onclick="export_csv('{{ book.book_file|escapejs }}')">Export
                        CSV</button>
                </div>
                <div class="mt-2 d-flex justify-content-between align-items-center">
                    <div>
                        <a href="#" class="small me-2">Read</a>
                        <a href="#" class="small me-2">Edit</a>

                    </div>

                    <a href="{% url 'dashboard:annotations' book.id %}"
                        class="btn btn-sm btn-outline-primary">Annotations</a>

                </div>

            </div>
        </div>
    </div>



    {% endfor %}


</div>

{% endblock %}