{% extends 'dashbase.html' %}
{% load static %}

{% block extra_head_dash %}
<link rel="stylesheet" href="{% static '/dashboard/css/books.css' %}">
<script src="{% static 'dashboard/js/updateBookStatus.js' %}" defer></script>

{% endblock %}

{% block content %}
{% csrf_token %}
<h1>Books</h1>
<div class="content">
    
    {% for book in books %}
    <div class="books-container">
        <div class="book-item">
            <h4>{{ book.name }}</h4>
            <p>Date: {{ book.date }}</p>
            <p>Religion: {{ book.religion }}</p>
            <a href="">Read</a>
            <a href="">Edit</a>
            <div>
                
                <label for="publish-{{ book.id }}">Publish</label>
                <input 
                    type="checkbox" 
                    id="publish-{{ book.id }}" 
                    name="publish-{{ book.id }}"
                    onchange="updatePublishStatus('{{ book.id }}')"
                    {% if book.is_published %}checked{% endif %}
                    
                >
            </div>
        </div>
    </div>
    {% endfor %}
    
    
</div>

{% endblock %}