{% extends 'dashbase.html' %}
{% load static %}

{% block extra_head_dash %}
<link rel="stylesheet" href="{% static '/dashboard/css/books.css' %}">

{% endblock %}

{% block content %}
{% csrf_token %}
<div>
    <H2>Books</H2>
    {% for book in books %}
    <div class="books-container">
        <div class="book-item">
            <h4>{{ book.name }}</h4>
            <p>Date: {{ book.date }}</p>
            <p>Religion: {{ book.religion }}</p>
            <a href="">Read</a>
            <div>
                <label for="publish-{{ book.id }}">Publish</label>
                <input 
                    type="checkbox" 
                    id="publish-{{ book.id }}" 
                    name="publish-{{ book.id }}"
                    {% if book.published %}checked{% endif %}
                >
            </div>
        </div>
    </div>
    {% endfor %}
    
    
</div>

{% endblock %}