{% extends 'dashbase.html' %}
{% load static %}

{% block extra_head_dash %}

<script src="{% static '/dashboard/js/txtpub.js' %}" defer></script>
<script src="{% static '/dashboard/js/epub.js' %}" defer></script>
<script src="{% static '/dashboard/js/pdf_obj.js' %}" defer></script>
<script src="{% static '/dashboard/js/dashboard.js' %}" defer></script>
<link rel="stylesheet" href="{% static '/dashboard/css/upload.css' %}">
{% endblock %}

{% block content %}




<!-- Main Content -->
<div class="content">
    <div id="spinner-overlay" class="overlay">
        <div id="spinner-container" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <h1>Open Word Bible Dashboard</h1>
    <h2>Book Parameters</h2>

    <div class="text-input-grid">
        <div>
            <label for="book-name">Book Name</label>
            <input type="text" id="book-name" name="book-name">
        </div>
        <div>
            <label for="input-book-cover">Book Cover</label>
            <input type="file" id="input-book-cover" name="input-book-cover" accept="image/png, image/jpeg">
        </div>
        <div>
            <label for="input-book-date">Book Date</label>
            <input type="text" id="input-book-date" name="input-book-date">
        </div>
        <div>
            <label for="input-book-lang">Book Language</label>
            <select name="input-book-lang" id="input-book-lang">
                <option value="">Choose a Language</option>
                {% for language in languages %}
                    <option value="{{ language.name }}">{{ language.name }}</option>
                {% endfor %}
                
                
            </select>
        </div>

        <label for="book-religion">Book Religion</label>
        <select name="book-religion" id="book-religion">
            {% for religion in religions %}
                <option value="{{ religion.name }}">{{ religion.name }}</option>
            {% endfor %}

        </select>

        <div>
            <label for="input-book-denom">Book Denomination</label>
            <input type="text" id="input-book-denom" name="input-book-denom">
        </div>
        <div>
            <label for="input-book-author">Author</label>
            <input type="text" id="input-book-author" name="input-book-author">
        </div>
        <div>
            <label for="input-book-translator">Translator</label>
            <input type="text" id="input-book-translator" name="input-book-translator">
        </div>
        <div>
            <label for="input-book-isbn">ISBN</label>
            <input type="text" id="input-book-isbn" name="input-book-isbn">
            
        </div>
        <div>
            <label for="input-book-des">Description</label>
            <textarea type="text" id="input-book-des" name="input-book-des"></textarea>

        </div>
        <div>
            <label for="book-right">Rights:</label>
            <input type="text" id="book-right" name="book-right">
            <p id="book-right"></p>
        </div>
        <div>
            <label for="book-pub">Publisher</label>
            <input type="text" id="book-pub" name="book-pub">
            <p id="book-pub"></p>
        </div>

        <div>
            <label for="input-words-per-page">WordsPerPage</label>
            <input type="number" id="input-words-per-page" value="600">
        </div>
        


    </div>


    <div class="container mt-4" id="upload-container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#text">TXT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#pdf">PDF</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#docx">DOCX</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#odt">ODT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#epub">EPUB</a>
            </li>
        </ul>


        <div>
            <div>
                <label for="up-book-txt">File</label>
                <input type="file" id="up-book-txt" >
            </div>
            <div>
                <button class="btn btn-success" id="convert-book">Convert</button>

            </div>
        </div>
        <!-- Tab content -->
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="text">
                <h3>Text Upload</h3>
<!-- 
                <div>
                    <button class="btn-pre-back">back</button>
                    <button class="btn-pre-next">next</button>
                </div> -->
                
                <!-- <div id="test-div" style="width: 100%;">

                </div> -->
                <!-- <div>
                    <textarea name="text-preview" id="text-preview" class="preview-content"></textarea>
                </div>
                <div>
                    <button class="btn-pre-back">back</button>
                    <button class="btn-pre-next">next</button>
                </div> -->

            </div>
            <div class="tab-pane fade" id="pdf">
                <h3>PDF Upload</h3>
                <!-- <div>
                    <button class="btn-pre-back">back</button>
                    <span>
                        <span class="curr-page">0</span>/
                        <span class="total-pages">0</span>
                    </span>
                    <button class="btn-pre-next">next</button>
                </div>
                <div>
                    <textarea name="pdf-preview" id="pdf-preview" class="preview-content"></textarea>
                </div>
                <div>
                    <button class="btn-pre-back">back</button>
                    <button class="btn-pre-next">next</button>
                </div> -->
            </div>
            <div class="tab-pane fade" id="docx">
                <h3>DOCX Upload</h3>
                <!-- <div>
                    <button class="btn-pre-back">back</button>
                    <button class="btn-pre-next">next</button>
                </div>
                <div>
                    <textarea name="docx-content" id="docx-content" class="preview-content"></textarea>
                </div>
                <div>
                    <button class="btn-pre-back">back</button>
                    <button class="btn-pre-next">next</button>
                </div> -->
            </div>
            <div class="tab-pane fade" id="odt">
                <h3>ODT Upload</h3>
                <!-- <div>
                    <button class="btn-pre-back">back</button>
                    <button class="btn-pre-next">next</button>
                </div>
                <div>
                    <textarea name="odt-content" id="odt-content" class="preview-content"></textarea>
                </div>
                <div>
                    <button class="btn-pre-back">back</button>
                    <button class="btn-pre-next">next</button>
                </div> -->
            </div>
            <div class="tab-pane fade" id="epub">
                <h3>EPUB Upload</h3>

                <!-- <div>
                    <button class="btn-pre-back">back</button>
                    <span>
                        <span class="curr-page">0</span>/
                        <span class="total-pages">0</span>
                    </span>
                    <button class="btn-pre-next">next</button>
                </div>

                <div>
                    <textarea name="epub-content" id="epub-content" class="preview-content"></textarea>
                </div>
                <div>
                    <button class="btn-pre-back">back</button>
                    <span>
                        <span class="curr-page">0</span>/
                        <span class="total-pages">0</span>
                    </span>
                    <button class="btn-pre-next">next</button>
                </div> -->

            </div>
            <div>
                <label for="input-custom">Custom Regex</label>
                <input type="checkbox" name="input-custom" id="input-custom">
            </div>
            <div>
                <label for="">Label</label>
                <input type="text" id="label-input">
                <label for="" >Delimiter</label>
                <input type="text" id="search-input" style="width: 50%;">
                <button class="btn btn-primary" id="add-partition">Add</button>
            </div>
            <div>
                <button class="btn-pre-back">back</button>
                <span>
                    <span class="curr-page">0</span>/
                    <span class="total-pages">0</span>
                </span>
                <button class="btn-pre-next">next</button>
            </div>
            
            <div>
                <textarea name="text-preview" id="text-preview" class="preview-content"></textarea>
            </div>
            <div>
                <button class="btn-pre-back">back</button>
                <span>
                    <span class="curr-page">0</span>/
                    <span class="total-pages">0</span>
                </span>
                <button class="btn-pre-next">next</button>
            </div>
            <div>
                <button class="btn btn-primary" id="btn-add-all-page">Add All</button>
                <button class="btn btn-primary" id="btn-add-page">+ Add</button>
                <button class="btn btn-primary" id="btn-reset-page-numbers">Reset Page Numbers</button>
                <button class="btn btn-success" id="btn-upload-page">Upload</button>

            </div>
            <div id="total-preview-pages">Pages:</div>
            <div id="page-list">
            </div>
        </div>
    </div>






    <!-- <div class="row">
            <div class="col-md-4">
                <div class="card p-3 text-center">
                    <h3>Total Users</h3>
                    <p class="fs-4 fw-bold">1,254</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3 text-center">
                    <h3>New Orders</h3>
                    <p class="fs-4 fw-bold">342</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card p-3 text-center">
                    <h3>Revenue</h3>
                    <p class="fs-4 fw-bold">$12,670</p>
                </div>
            </div>
        </div> -->
</div>



{% endblock %}


