{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/dashboard/css/books.css' %}">

{% endblock %}

{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}
<h2>Library</h2>
<!-- <div class="content">
    <div class="row">

        <div class="col-md-4">
            <div class="card p-3 text-center">
                <h3>KJV Bible</h3>
                <div><a href="{% url 'read' %}">Read</a></div>
            </div>
        </div>
</div> -->
<div class="content"></div>
{% for book in books %}
    <div class="books-container">
        <div class="book-item">
            <h4>{{ book.name }}</h4>
            <p>Date: {{ book.date }}</p>
            <p>Religion: {{ book.religion }}</p>
            <a href="">Read</a>

        </div>
    </div>
    {% endfor %}
{% else %}
<div>
    <h2>You aren't supposed to be here!</h2>
</div>
{% endif %}
{% endblock %}
