{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<script src="{% static '/app/js/profile/profile.js' %}" defer></script>


{% endblock %}

{% block content %}


{% if user.is_authenticated %}

<body>
    {% csrf_token %}
    <div class="container">
        <div class="text-center">
            <h1>Profile</h1>
            {% if profile %}
            <img src="{{ profile.profile_image.url }}" alt="" 
                style="background-color: #0dcaf0; border-radius: 50%; width: 15%; border: 1px solid #0dcaf0;">
            {% else %}
            <img src="{% static '/app/images/user-regular.svg' %}" alt=""
                style="background-color: #0dcaf0; border-radius: 50%; width: 100%; max-width: 9rem; height: 15vh; border: 1px solid #0dcaf0;">
            {% endif %}
            <h4>{{ user.username }}</h4>
        </div>
        <br>
        <hr>


        <div class="row mb-3">
            <label for="profile-image" class="col-sm-2 col-form-label">Profile Image</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" id="profile-image" name="profile-image">
            </div>
        </div>
        <div class="row mb-3">
            <label for="username-input" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username-input" name="username-input"
                    value="{{ user.username }}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email-input" name="email-input" value="{{ user.email }}">
            </div>
        </div>
        <!-- <div class="row mb-3">
                <label for="input-pass" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="password" class="form-control" id="input-pass" name="input-pass"
                            value="{{ user.password }}" />
                        <span class="input-group-text" id="toggle-password">
                            <i class="fa-solid fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
            </div> -->

        </fieldset>
        <!-- <div class="row mb-3">
            <div class="col-sm-10 offset-sm-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="change-input" name="change-input">
                    <label class="form-check-label" for="change-input">
                        Change info
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="change-image" name="change-image">
                    <label class="form-check-label" for="change-image">
                        Change image
                    </label>
                </div>
            </div>
        </div> -->
        <button id="btnSendData" type="submit" class="btn btn-primary">Update</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>

{% else %}
<h2>No Profile. Go sign in...</h2>
{% endif %}

{% endblock %}