{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/app/css/read/read.css' %}">
<script src="{% static '/app/js/read/bible.js' %}" defer></script>
<script src="{% static '/app/js/read/loadBook.js' %}" defer></script>
<script src="{% static '/app/js/read/bookmark.js' %}" defer></script>
<script src="{% static '/app/js/read/note.js' %}" defer></script>
{% endblock %}

{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
            style="width: 380px; border-right: 1px solid black; padding: 1%;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link results active" aria-current="page" >Notes</a>
                </li>
                <li class="nav-item">
                <a class="nav-link results" >Book</a>
                </li>

            </ul>
            <div id="note-container">
                <button class="btn btn-primary" id="btn-new-note" style="width: 90%;" disabled>New</button>
                <form class="d-flex my-2 my-lg-0" onsubmit="return false">
                    <input class="form-control me-2" type="search" placeholder="Search Notes" aria-label="Search" id="note-search">
                    <button class="btn btn-outline-success"  id="btn-search-notes">Find</button>
                </form>
                <span class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-5 fw-semibold">Notes</span><small style="margin-left: 40%;" id="notes-header">-</small>
                </span>
                <div class="list-group list-group-flush border-bottom scrollarea" id="notes-list">


                </div>
            </div>
            <div id="search-container">
                <h4 class="text-center">Results <span id="num_of_results"></span></h4>
                <div id="search-results">
                
                </div>
            </div>
            
            
        </div>


        <!-- Main content -->
        <div class="main-content container">
            <h1 class="text-center" id="book-header"></h1>
            <button class="btn btn-primary" style="margin-left: 80%;" id="bookmark">bookmark</button>
            <div class="d-flex justify-content-center page-nav" id="pg1">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link prev">Previous</a></li>
                        <li class="page-item"><a class="page-link pag">1</a></li>
                        <li class="page-item"><a class="page-link pag">2</a></li>
                        <li class="page-item"><a class="page-link pag">3</a></li>
                        <li class="page-item"><a class="page-link next">Next</a></li>
                    </ul>
                </nav>
            </div>

            <div id=page-text>


            </div>
            <div class="d-flex justify-content-center page-nav">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link prev">Previous</a></li>
                        <li class="page-item"><a class="page-link pag2">1</a></li>
                        <li class="page-item"><a class="page-link pag2">2</a></li>
                        <li class="page-item"><a class="page-link pag2">3</a></li>
                        <li class="page-item"><a class="page-link next">Next</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div id="spinner-overlay" class="overlay">
        <div id="spinner-container" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!-- Modal Save New Note-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div id="alert-container"></div>

        <div class="modal-dialog">
            <div class="modal-content" style="padding: 1%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="NoteModalLabel">New Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <label for="note-title">Title</label>
                <div class="input-group mb-3">

                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" id="note-title">

                </div>
                <label for="note-data">Description</label>
                <textarea class="form-control" aria-label="With textarea" id="note-data"></textarea>

                <div class="modal-footer" id="m-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-note">Save changes</button>


                </div>
            </div>
        </div>
    </div>
{% else %}
<div>
    <h2>You aren't supposed to be here!</h2>
</div>
{% endif %}
{% endblock %}
