{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static '/app/css/read/read.css' %}">
<script src="{% static '/app/js/read/bible.js' %}" defer></script>
<script src="{% static '/app/js/read/loadBook.js' %}" defer></script>
<script src="{% static '/app/js/read/bookmark.js' %}" defer></script>
<script src="{% static '/app/js/read/note.js' %}" defer></script>
<script src="{% static '/app/js/read/utilities.js' %}" defer></script>
<script src="{% static '/app/js/read/validators.js' %}" defer></script>
{% endblock %}

{% block content %}
{% csrf_token %}
{% if user.is_authenticated %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        KJV Bible
    </a>
    <ul class="dropdown-menu p-3" style="min-width: 500px;">
        <div class="row">
            <div class="col-4">
                <li><a class="dropdown-item" href="#" value="Genesis">Genesis</a></li>
                <li><a class="dropdown-item" href="#" value="Exodus">Exodus</a></li>
                <li><a class="dropdown-item" href="#" value="Leviticus">Leviticus</a></li>
                <li><a class="dropdown-item" href="#" value="Numbers">Numbers</a></li>
                <li><a class="dropdown-item" href="#" value="Deuteronomy">Deuteronomy</a></li>
                <li><a class="dropdown-item" href="#" value="Joshua">Joshua</a></li>
                <li><a class="dropdown-item" href="#" value="Judges">Judges</a></li>
                <li><a class="dropdown-item" href="#" value="Ruth">Ruth</a></li>
                <li><a class="dropdown-item" href="#" value="1_Samual">1 Samuel</a></li>
                <li><a class="dropdown-item" href="#" value="2_Samual">2 Samuel</a></li>
                <li><a class="dropdown-item" href="#" value="1_Kings">1 Kings</a></li>
                <li><a class="dropdown-item" href="#" value="2_Kings">2 Kings</a></li>
                <li><a class="dropdown-item" href="#" value="1_Chronicles">1 Chronicles</a></li>
                <li><a class="dropdown-item" href="#" value="2_Chronicles">2 Chronicles</a></li>
                <li><a class="dropdown-item" href="#" value="Ezra">Ezra</a></li>
                <li><a class="dropdown-item" href="#" value="Nehemiah">Nehemiah</a></li>
                <li><a class="dropdown-item" href="#" value="Esther">Esther</a></li>
                <li><a class="dropdown-item" href="#" value="Job">Job</a></li>
                <li><a class="dropdown-item" href="#" value="Psalms">Psalms</a></li>
                <li><a class="dropdown-item" href="#" value="Proverbs">Proverbs</a></li>
                <li><a class="dropdown-item" href="#" value="Ecclesiastes">Ecclesiastes</a></li>
                <li><a class="dropdown-item" href="#" value="Song_of_Solomon">Song of Solomon</a>
                </li>
            </div>
            <div class="col-4">
                <li><a class="dropdown-item" href="#" value="Isaiah">Isaiah</a></li>
                <li><a class="dropdown-item" href="#" value="Jeremiah">Jeremiah</a></li>
                <li><a class="dropdown-item" href="#" value="Lamentations">Lamentations</a></li>
                <li><a class="dropdown-item" href="#" value="Ezekiel">Ezekiel</a></li>
                <li><a class="dropdown-item" href="#" value="Daniel">Daniel</a></li>
                <li><a class="dropdown-item" href="#" value="Hosea">Hosea</a></li>
                <li><a class="dropdown-item" href="#" value="Joel">Joel</a></li>
                <li><a class="dropdown-item" href="#" value="Amos">Amos</a></li>
                <li><a class="dropdown-item" href="#" value="Obadiah">Obadiah</a></li>
                <li><a class="dropdown-item" href="#" value="Jonah">Jonah</a></li>
                <li><a class="dropdown-item" href="#" value="Micah">Micah</a></li>
                <li><a class="dropdown-item" href="#" value="Nahum">Nahum</a></li>
                <li><a class="dropdown-item" href="#" value="Habakkuk">Habakkuk</a></li>
                <li><a class="dropdown-item" href="#" value="Zephaniah">Zephaniah</a></li>
                <li><a class="dropdown-item" href="#" value="Haggai">Haggai</a></li>
                <li><a class="dropdown-item" href="#" value="Zechariah">Zechariah</a></li>
                <li><a class="dropdown-item" href="#" value="Malachi">Malachi</a></li>
                <li><a class="dropdown-item" href="#" value="Matthew">Matthew</a></li>
                <li><a class="dropdown-item" href="#" value="Mark">Mark</a></li>
                <li><a class="dropdown-item" href="#" value="Luke">Luke</a></li>
                <li><a class="dropdown-item" href="#" value="John">John</a></li>
                <li><a class="dropdown-item" href="#" value="Acts">Acts</a></li>
            </div>
            <div class="col-4">
                <li><a class="dropdown-item" href="#" value="Romans">Romans</a></li>
                <li><a class="dropdown-item" href="#" value="1_Corinthians">1 Corinthians</a></li>
                <li><a class="dropdown-item" href="#" value="2_Corinthians">2 Corinthians</a></li>
                <li><a class="dropdown-item" href="#" value="Galatians">Galatians</a></li>
                <li><a class="dropdown-item" href="#" value="Ephesians">Ephesians</a></li>
                <li><a class="dropdown-item" href="#" value="Philippians">Philippians</a></li>
                <li><a class="dropdown-item" href="#" value="Colossians">Colossians</a></li>
                <li><a class="dropdown-item" href="#" value="1_Thessalonians">1 Thessalonians</a>
                </li>
                <li><a class="dropdown-item" href="#" value="2_Thessalonians">2 Thessalonians</a>
                </li>
                <li><a class="dropdown-item" href="#" value="1_Timothy">1 Timothy</a></li>
                <li><a class="dropdown-item" href="#" value="2_Timothy">2 Timothy</a></li>
                <li><a class="dropdown-item" href="#" value="Titus">Titus</a></li>
                <li><a class="dropdown-item" href="#" value="Philemon">Philemon</a></li>
                <li><a class="dropdown-item" href="#" value="Hebrews">Hebrews</a></li>
                <li><a class="dropdown-item" href="#" value="James">James</a></li>
                <li><a class="dropdown-item" href="#" value="1_Peter">1 Peter</a></li>
                <li><a class="dropdown-item" href="#" value="2_Peter">2 Peter</a></li>
                <li><a class="dropdown-item" href="#" value="1_John">1 John</a></li>
                <li><a class="dropdown-item" href="#" value="2_John">2 John</a></li>
                <li><a class="dropdown-item" href="#" value="3_John">3 John</a></li>
                <li><a class="dropdown-item" href="#" value="Jude">Jude</a></li>
                <li><a class="dropdown-item" href="#" value="Revelation">Revelation</a></li>
            </div>
        </div>
    </ul>
</li>

    <div class="d-flex">
        <!-- Sidebar -->
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
            style="width: 380px; border-right: 1px solid black; padding: 1%;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link results active" aria-current="page" >Notes</a>
                </li>
                <li class="nav-item">
                <a class="nav-link results" >Book</a>
                </li>

            </ul>
            <div id="note-container">
                <button class="btn btn-primary" id="btn-new-note" style="width: 90%;" disabled>New</button>
                <form class="d-flex my-2 my-lg-0" onsubmit="return false">
                    <input class="form-control me-2" type="search" placeholder="Search Notes" aria-label="Search" id="note-search">
                    <button class="btn btn-outline-success"  id="btn-search-notes">Find</button>
                </form>
                <span class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-5 fw-semibold">Notes</span><small style="margin-left: 40%;" id="notes-header">-</small>
                </span>
                <div class="list-group list-group-flush border-bottom scrollarea" id="notes-list">


                </div>
            </div>
            <div id="search-container">
                <h4 class="text-center">Results <span id="num_of_results"></span></h4>
                <div id="search-results">
                
                </div>
            </div>
            
            
        </div>


        <!-- Main content -->
        <div class="main-content container">
            <h1 class="text-center" id="book-header"></h1>
            <button class="btn btn-primary" style="margin-left: 80%;" id="bookmark">bookmark</button>
            <div class="d-flex justify-content-center page-nav" id="pg1">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link prev">Previous</a></li>
                        <li class="page-item"><a class="page-link pag">1</a></li>
                        <li class="page-item"><a class="page-link pag">2</a></li>
                        <li class="page-item"><a class="page-link pag">3</a></li>
                        <li class="page-item"><a class="page-link next">Next</a></li>
                    </ul>
                </nav>
            </div>

            <div id=page-text>


            </div>
            <div class="d-flex justify-content-center page-nav">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link prev">Previous</a></li>
                        <li class="page-item"><a class="page-link pag2">1</a></li>
                        <li class="page-item"><a class="page-link pag2">2</a></li>
                        <li class="page-item"><a class="page-link pag2">3</a></li>
                        <li class="page-item"><a class="page-link next">Next</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div id="spinner-overlay" class="overlay">
        <div id="spinner-container" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <!-- Modal Save New Note-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div id="alert-container"></div>

        <div class="modal-dialog">
            <div class="modal-content" style="padding: 1%;">
                <div class="modal-header">
                    <h5 class="modal-title" id="NoteModalLabel">New Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <label for="note-title">Title</label>
                <div class="input-group mb-3">

                    <input type="text" class="form-control" aria-label="Default"
                        aria-describedby="inputGroup-sizing-default" id="note-title">

                </div>
                <label for="note-data">Description</label>
                <textarea class="form-control" aria-label="With textarea" id="note-data"></textarea>

                <div class="modal-footer" id="m-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-note">Save changes</button>


                </div>
            </div>
        </div>
    </div>
{% else %}
<div>
    <h2>You aren't supposed to be here!</h2>
</div>
{% endif %}
{% endblock %}
